{% extends "src/_includes/layouts/work-base.njk" %}

{% block gallery %}
    {% for file in media %}
      {% if 'autoplay.mp4' in file %}
        <video autoplay muted loop width="1200">
          <source src="https://res.cloudinary.com/hohiemer/video/upload/f_webm,q_auto,w_1200/hohiemer.com/{{ file }}" type="video/webm">
          <source src="https://res.cloudinary.com/hohiemer/video/upload/q_auto,w_1200/hohiemer.com/{{ file }}" type="video/mp4">
        </video>
      {% elif '.mp4' in file %}
        <video controls width="1200">
          <source src="https://res.cloudinary.com/hohiemer/video/upload/f_webm,q_auto,w_1200/hohiemer.com/{{ file }}" type="video/webm">
          <source src="https://res.cloudinary.com/hohiemer/video/upload/q_auto,w_1200/hohiemer.com/{{ file }}" type="video/mp4">
        </video>
      {% else %}
        {%- set cloudinary_source -%}{{ file | replace("/assets/", "") }}{%- endset -%}
        <img src="{{ file }}"
        srcset="{% srcset cloudinary_source %}"
        alt="{{ title }}"
        width="{% width file %}"
        height="{% height file %}"
        >
      {% endif %}
    {% endfor %}
{% endblock %}