{% extends "src/_includes/layouts/base.njk" %}

{% block content %}
<article class="project">
  <div class="sidebar">
    <h1>{{ title }}</h1>
    <p>{{ content | safe }}</p>
    <div class="tags">
      {% for role in roles %}
        <span class="tag-{{ role | slugify }}">{{ role }}</span>
      {% endfor %}
    </div>
  </div>
  
  {% block gallery %}{% endblock %}
</article>

<div class="sticker">
  {% include "partials/morework.svg" %}
</div>
{% include "partials/post-list.njk" %}
{% endblock %}